body {
	background-color: #000A14;
	background-image: url(http://cbimg6.com/layouts/09/07/35159ac.jpg);
	background-repeat: repeat-x;
}
body,td,th {
	color: #B4B7B0;
}
.Navigation {
	font-family: Arial;
	font-size: 12px;
	color: #B4B7B0;
	font-weight: none;
	text-transform: none;
	border-bottom-width: 1px;
	border-left-width: 6px;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-bottom-color: #3E454B;
	border-left-color: #182128;
	background-color: #000A14;
}
h1,h2,h3,h4,h5,h6 {
	font-family: cursive, fantasy;
}
h1 {
	font-size: 16px;
	color: #B4B7B0;
}
.Heading {
	font-family: "Edwardian Script ITC";
	font-size: 36px;
	font-weight: none;
	text-transform: none;
	color: #B4B7B0;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #3E454B;
	border-left-color: #182128;
}
marquee {
  font-size: xx-large;
} 
a:link {
	color: #B4B7B0;
	text-decoration: none;
}
a:visited {
	color: #B4B7B0;
	text-decoration: none;
}
a:hover {
	color: #464B51;
	text-decoration: none;
}
a:active {
	color: #B4B7B0;
	text-decoration: none;
}
.style1 {
	font-family: "Edwardian Script ITC";
	font-size: xx-large;
}
.style2 {
	font-family: cursive, fantasy;
	font-size: 16px;
}
.style4 {color: #FFFFFF}