h1 {
  color: #ff9999;
  text-align: center;
  font-family: "Oleo Script", cursive;
  font-size: 70px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #800000;
}

h2 {
  font-family: "Oleo Script", cursive;
  font-size: 75px;
  color: #ff0000;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #800000;
  margin-bottom: -130px;
}
p {
  color: #cc0000;
  text-align: center;
  font-family: "Cabin Sketch", cursive;
  font-size: 30px;
}

.logo {
  margin-bottom: 10px;
  margin-left: 500px;
  border: none;
  cursor: pointer;
}

.logo2 {
  margin-bottom: 10px;
  margin-top: -134px;
  margin-left: 910px;
  border: none;
  cursor: pointer;
}

body {
  background-color: #ffe6e6;
}

.hell {
  width: 100%;
  background: #ff9999;
  overflow: auto;
}

.hell a {
  float: left;
  padding: 15px 29.2px;
  color: #cc0000;
  font-family: "Oleo Script", cursive;
  text-decoration: none;
  font-size: 25px;
  width: 21%;
  text-align: center;
  border: 0.5px solid #e60000;
}

.hell a:hover {
  background-color: #ff6666;
}

.titleb {
  border-style: hidden;
  border-color: red;
}

.hell a:hover:not(.active) {
  background-color: #ff6666;
}

.active {
  background-color: #ffe6cc;
}

.button {
  position: absolute;
  border-radius: 4px;
  background-color: #ffb399;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
  left: 44%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Cabin Sketch", cursive;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.logos {
  text-align: center;
  filter: drop-shadow(0px 0px 10px #ff99b3);
}

.image2 {
  margin-bottom: 100px;
  margin-top: 20px;
  margin-left: 690px;
}

.image2:hover {
  filter: drop-shadow(0 0 0.75rem #ff9999);
}
